/* You can add global styles to this file, and also import other style files */
:root {
    --lightest-green: #E8FCCF;
    --light-green: #96E072;
    --middle-green: #3DA35D;
    --dark-green: #3E8914;
    --darkest-green: #134611;
    --fullwidth: 100%;
  }