:host{
    display:block;
    width:15%;
    background-color: var(--lighter-green);
}
#navbar{
    position: fixed;
    background-color: var(--darkest-green);
    background-repeat: repeat;
    background-position: center;
    width: 16%;
    margin-top: 70px;
    height: 100vh;
    border-bottom: 1px solid white;
    display: flex;
    list-style-type: none;
}

.navbar-brand{
    color: var(--lighter-green);
    font-size: xx-large;
    font-weight: bold;
    font-family: monospace, monaco;
    text-align: start;
}
.navbar-item{
    margin-bottom: 750px;

}
.nav-link-active{
    color: var(--lighter-green);
    text-decoration: none;
    font-size:30px;
    margin-left: 50px;
    font-family: monospace, monaco;
    text-align: start;
}
.nav-link-active:hover{
    font-weight: bold;
}
.navbar-nav-scroll{
    display: flex;
    flex-direction: column;
    text-align: start;
}
.header{
    color: var(--lighter-green);
    font-size: 40px;
    font-family: monospace, monaco;
    margin-left: 20px;
    margin-top: 30px;
}