
:host{
    display:block;
    width:25%;
}

#navbar{
    background-color: #134611;
    background-repeat: no-repeat;
    background-position: center;
    background-size: "cover";
    background-attachment: fixed;
    /* width: 15%; */
    height: 100vh;
    border-bottom: 1px solid white;
    display: flex;
    list-style-type: none;
}

.navbar-brand{
    color: #E8FCCF;
    font-size: xx-large;
    font-weight: bold;
    font-family: monospace, monaco;
    text-align: start;
}

.nav-link-active{
    color: #E8FCCF;
    text-decoration: none;
    font-size: x-large;
    margin-left: 50px;
    font-family: monospace, monaco;
    text-align: start;
}

.navbar-nav-scroll{
    display: flex;
    flex-direction: column;
    text-align: start;
}
.header{
    color: #E8FCCF;
    font-size: 40px;
    font-family: monospace, monaco;
    margin-left: 35px;
}

#home:hover{
    font-weight: bold; 
}
#events:hover{
    font-weight: bold; 
}
#friends:hover{
    font-weight: bold; 
}

#btn{
    font-size: x-large;
    font-family: monospace, monaco;
    color: #E8FCCF;
}