div.navmenu {
    height: 67px;
    background-image: url("https://i.imgur.com/NzLjTEW.jpg");
    position:fixed;
    width:100%;
    align-items:safe;
    margin-top: 0%;
    margin-left:0%
    
}
div#header {
    background-color: aquamarine;
    align-content: center;
    color: darkblue;
    font-family: Calibri;
    font-size: large;
    text-align: center;
    width:100%;
    position:sticky;
}