
<!-- Navigation bar -->
<app-navigation-bar>    </app-navigation-bar>

<!--
    This page consists of a navigation bar along the top
    The majority of the screen is broken into three parts: locations, navigation to pages, and a map. The map takes up the right half of the screen,
  and the locations and navigation boxes split the left half.
    
-->

<div class="parent"> <!-- Container 1 (the rows/side splitting) -->

    <div class="side">
      <h2 class="text">Side</h2>
    </div>
  
    <div class="container"> <!-- Container 2 (the columns/vertical splitting)-->
      <div class="header">
        <h2 class="text">Header</h2>
      </div>
      <div class="content">
        <h2 class="text">Content</h2>
      </div>
    </div>
  
</div>
