

<!-- Navigation bar -->
<app-navigation-bar>    </app-navigation-bar>

<!--
    This page consists of a navigation bar along the top
    The majority of the screen is broken into three parts: locations, navigation to pages, and a map. The map takes up the right half of the screen,
and the locations and navigation boxes split the left half.
    
-->

<div class="row">
    <div class="column" id="quarter-l">
        <h1 class="title-text">LOCATIONS!</h1>
        <button class="locations-box" *ngFor="let location of locations">
            <h2 class="box-text">{{location.locationName}}</h2>
        </button>
    </div>
    <div class="column" id="quarter-e">
        <h1 class="title-text-d">EVENTS!</h1>
        <button class="events-box" *ngFor="let event of events">
            <h2 class="box-text">{{event.eventName}}</h2>
        </button>
    </div>
    <div class="column" id="half">
        <app-map></app-map>
    </div>

</div>

<!-- 
<div class="parent">
    <div class="locations-bar">
        <h2 class="text">Locations</h2>
    </div>

    <div class="events-bar">
        <div class="events-box">
            <h2 class="box-text">Event 1</h2>
        </div>
        <div class="events-box">
            <h2 class="box-text">Event 2</h2>
        </div>
    </div>

    <div class="map-side">
        <img
            class="centered"
            src="https://i.pinimg.com/564x/d1/35/ca/d135ca708f1c3efcf9c890943dabff68.jpg"
            alt="Image of a map"
        />
    </div>
            
</div> -->