
/* The outermost box. The border makes the background look black, gives it a suprisingly nice look */
.parent {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  border: 20px solid var(--lightest-green);
  display: flex;
  flex-direction: row;
}

.header {
  height: 30%;
  background: cornflowerblue;
}

.side {
  width: 30%;
  height: 100%;
  background: rgb(219, 133, 133);
}

.content {
  height: 70%;
  background: rgb(115, 202, 180);
}

.text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 190px;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%; /* Takes up max space available to it */
}