

<form id="information" [formGroup]="information_Form" >
  <div class="mb-3">  
    <div id="nameHelp" class="form-text" style="color:azure">We'll never share your information with anyone else. The information you share here will only be used by me to directly contact you to learn more about your organization or share my resume with you</div>

    <label for="exampleInputName1" class="form-label">Your Name</label>
    <input type="name" [formControl]="information_Form.controls.userName" class="form-control" id="exampleInpuName1" aria-describedby="nameHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" [formControl]="information_Form.controls.userEmail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputOrg1" class="form-label">Affliated Organization(if any)</label>
    <input type="organization" [formControl]="information_Form.controls.userOrg" class="form-control" id="exampleInputOrg1">
  </div>
  <button type="submit" class="btn btn-primary" data-bs-toggle="offcanvasTop" data-bs-target="#offcanvasTop" aria-controls="offcanvasTopLabel" (click)="SaveData()">Submit</button>
</form>