<!-- Navigation bar -->
<app-navigation-bar>    </app-navigation-bar>
<app-sidebar></app-sidebar>

<section class="events">

    <div class="row">
            <!-- Make event box for every event in the list -->
            <div class="event-box" *ngFor="let event of events">
                
                    <div class="event">
                        <div class="event-date-box">
                            <p class="event-day">{{event.date | date: 'd'}}</p>
                            <p class="event-month">{{event.date | date: 'MMMM'}}</p>
                            <p class="event-year">{{event.date | date: 'yyyy'}}</p>
                        </div>
                        

                    <div class="event-details">
                        <p class="event-name">{{event.eventName | uppercase}}</p>
                        <p class="event-desc">{{event.description}}</p>
                        <p class="event-price">Price: ${{event.price}}</p>
                        <p class="event-time">Time of the event: {{event.startTime}} - {{event.endTime}}</p>
                    </div>
                    <div class = "column m-3">
                        <button type="button" class="btn btn-danger me-2" (click) = "onDeleteEvent(event._id)">
                            Delete event
                          </button>
                          <button type="button" class="btn btn-warning" (click) = "onModifyEvent(event._id)">
                            Modify event
                          </button>
                    </div>
                    </div>
            </div>
        </div>
</section>
