
<body style="background-color: #E8FCCF;"></body>
  <app-navigation-bar> </app-navigation-bar>

<section class="friends">
  
  <div class="row">
    <div class="col-md-3">
      
      <input type="text" id="mySearch" placeholder="Search for friends">
        
    </div>
    <div class="col-md-3">
      <div id = "mfriends">
        <h1>
          Meet New Friends!
        </h1>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <h1>
          Current Friends
        </h1>
      </div>
    </div>
    <!--ROW 1 END-->
    
    <!--ROW 2 START-->
    <div class="row">

      <!-- Column for searching for friends -->
      <div class="col-md-3">
        
        <div class="friend-box" *ngFor="let friend of searchFriends">
          {{friend.username}}
        </div>

      </div>

      <!-- Column for recommended friends -->
      <div class="col-md-3">

        <div class="friend-box" *ngFor="let friend of recommendedFriends">
          {{friend.username}}
        </div>
        
      </div>

      <!-- Column for current friends -->
      <div class="col-md-3">
        <div class="friend-box" *ngFor="let friend of currentFriends">
          <div class="friend-details">
            Username: {{friend.username}}

            Name: {{friend.firstName}} {{friend.middleName}} {{friend.lastName}}
          </div>
          <div class="friend-tags-box" *ngFor="let tag of friend.chooseTags">
            {{tag}}
          </div>
        </div>
      </div>
    </div>
  </div>
      
</section>