.friends{
    background-image: url(../assets/background_gradient.png);
    background-size: cover;
    /*height: 100vh;*/
    background-repeat: repeat;
    background-position: center;
    /*background-color: #E8FCCF;*/
    margin-left: 0px;
    padding-top: 125px;
}
h1{
    font-size: xx-large;
    font-family: monospace, monaco;
    color: #E8FCCF;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
}
h2{
    font-size: x-large;
    font-family: monospace, monaco;
    color: #E8FCCF;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
}
#mfriends{
    margin-left: 20px;
    margin-top: 20px;
}
ul {
    list-style: none;
}

ul li{
    margin-bottom: 10px;
}

#mySearch{
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #000000;
    margin:10px;
    border-radius: 50px;
    font-family: monospace, monaco;
}

/* Friend boxes */
.friend-box > * {
    display: flex;
    border: 5px solid white;
    box-sizing: border-box;
    flex-grow: 1;
    background-color: #134611;
    border-radius: 38px;
    font-family: monospace, monaco;
}

.friend-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 2em;
    margin-bottom: 20px;
    padding: 10px;
}
.friend-details{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.friends-tags-box{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;

    color: var(--lightest-green);
    border-radius: 35px;
    background-color: var(--darkest-green);
    border: 2px solid var(--dark-green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 25px;
}