
<!-- Navigation bar -->
<app-navigation-bar>    </app-navigation-bar>
<section class="events">

    <div class="row">
        <div class="column">
            <!-- Search bar to look for events -->
            <input type="text" id="mySearch" placeholder="Search events" title="Type in a category" [(ngModel)] = "searchInput" (input)="searchEvents()">
            <div class="row">
            <div class = "column">
                <label for="customRange3" class="form-label m-2">Filter by tag:</label>
              <select class="form-select" aria-label="Choose a Tag" [(ngModel)]="selectedTagName" (change)="onTagSelect()">
                <option value="" disabled selected>Choose a Tag</option>
                <option value="All">All</option>
                <option *ngFor="let tag of tagsArray" [value]="tag.itemName">{{tag.itemName}}</option>
              </select>
            </div>
            <div class="column">
                <label for="customRange3" class="form-label m-2">Filter by price:</label>
                <input type="range" class="form-range" min="0" max="100" step="0.5" id="customRange3" [(ngModel)]="selectedPrice" (input)="eventsByPrice()">
                <h4 class="priceHeader">Price: ${{selectedPrice}}</h4>
            </div>
            <div class="column">
                <label for="customRange3" class="form-label m-2">Filter by location:</label>
                <select class="form-select" aria-label="Choose a Location" [(ngModel)]="selectedLocation" (change)="eventsByArea()">
                    <option value="" disabled selected>Choose a Location</option>
                    <option value="All">All</option>
                    <option value="All">Erie</option>
                    <option value="All">PA</option>
                    <!-- <option *ngFor="let tag of tagsArray" [value]="tag.itemName">{{tag.itemName}}</option> -->
                  </select>
            </div>
            <div class="column">
                <button class="shareButton" type="button" (click)="shareEventPage()">
                    <i class="bi bi-share"></i>Share Event
                </button>
            </div>
            </div>
            <!-- Make event box for every event in the list -->
            <div class="event-box" *ngFor="let event of events">
                    <div class="event">
                        <div class="event-date-box">
                            <p class="event-day">{{event.date | date: 'd'}}</p>
                            <p class="event-month">{{event.date | date: 'MMMM'}}</p>
                            <p class="event-year">{{event.date | date: 'yyyy'}}</p>
                        </div>

                    <div class="event-details">
                        <p class="event-name">{{event.eventName | uppercase}}</p>
                        <p class="event-desc">{{event.description}}</p>
                        <p class="event-price">Price: ${{event.price}}</p>
                        <p class="event-time">Time of the event: {{event.startTime}} - {{event.endTime}}</p>
                    </div>
                    
                </div>
            </div>
        </div>

        <!-- The right half of the screen -->
        <div class="column">
            <img
                class="fit-picture"
                src="https://i.pinimg.com/564x/d1/35/ca/d135ca708f1c3efcf9c890943dabff68.jpg"
                alt="Image of a map"
            />
        </div>
    </div>

</section>