/*
  https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_box_alignment#types_of_alignment
  THIS SITE IS A LIFE-SAVER, I used it to make the boxes align in groups like they do, just adjusted the look of each box afterwards.
5/5 would copy this code again.
*/


/*Adds background gradient image*/
.events{
    background-image: url(../assets/background_gradient.png);
    background-size: cover;
    width: 100vw;
    /*height: 100vh;*/
    background-repeat: repeat;
    background-position: center;
    /*background-color: #E8FCCF;*/
}
.column {
    float: left;
    width: 50%;

}

/* Style for the event boxes */
/* .event-box > * {
    width: 300px;
    height: 250px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    margin-bottom: 50px;
    margin-left: 20px;
    background-color: white;
    border-radius: 25px;
    font-family: monospace, monaco;
    font-weight: bold;
    text-align: center;
} */
.event-box > * {
    display: flex;
    border: 5px solid white;
    box-sizing: border-box;
    flex-grow: 1;
    background-color: #134611;
    border-radius: 38px;
    font-family: monospace, monaco;
}

/* .event-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 2em;
} */
.event-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 2em;
    margin-bottom: 20px;
    padding: 10px;
}

.event-details{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.event-date-box{
    color: black;
    border-radius: 35px;
    background-color: #E8FCCF;
    padding: 10px;
    border: 2px solid #134611;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.event-day{
    font-size: 35px;
    font-weight: bolder;
}
.event-month, .event-year{
    font-size: 20px;
    font-weight: bold;
}
.event-date-box p{
    margin:0;
    padding: 1px;
}
.event-name{
    font-size: 50px;
    color: #E8FCCF;
    font-weight: bolder;
}
.event-desc{
    font-size: 25px;
    font-weight: bold;
    color: #E8FCCF;
    text-align: center;
}
.event-price{
    font-size: 25px;
    color: white;
}
.event-time{
    font-size: 25px;
    color: white;
    text-decoration: underline;
}
.fit-picture{
    /*algigns the map to center of the column*/
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);    
    width: 45%;
}

/* The search bar */
#mySearch {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #000000;
    margin:10px;
    border-radius: 50px;
    font-family: monospace, monaco;
  }

  .form-select{
    width: 90%;
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .form-label{
    font-family: monospace, monaco;
    font-size: 25px;
    font-weight: bold;
    color: #98E072;
    margin-left: 20px !important;
  }
  .priceHeader{
    font-family: monospace, monaco;
    font-size: 25px;
    font-weight: bold;
    color: #98E072;
    margin-left: 20px;
  }
