.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style for the event boxes */
.event-box {
    width: 250px;
    height: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

/* The search bar */
#mySearch {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #000000;
    margin:10px;
}