
<!-- Navigation bar -->
<app-navigation-bar>    </app-navigation-bar>
<section class="events">

    <div class="row">
        <div class="column">
            <!-- Search bar to look for events -->
            <input type="text" id="mySearch" placeholder="Search events" title="Type in a category">
            <select class="form-select" aria-label="hoose a Tag" [(ngModel)]="selectedTagName" (change)="onTagSelect()">
                <option value="" disabled selected>Choose a Tag</option>
                <option value="All">All</option>
                <option *ngFor="let tag of tagsArray" [value]="tag.itemName">{{tag.itemName}}</option>
              </select>

            <!-- Make event box for every event in the list -->
            <div class="event-box" *ngFor="let event of events">
                    <div class="event">
                        <div class="event-date-box">
                            <p class="event-day">{{event.date | date: 'd'}}</p>
                            <p class="event-month">{{event.date | date: 'MMMM'}}</p>
                            <p class="event-year">{{event.date | date: 'yyyy'}}</p>
                        </div>

                    <div class="event-details">
                        <p class="event-name">{{event.eventName | uppercase}}</p>
                        <p class="event-desc">{{event.description}}</p>
                        <p class="event-price">Price: ${{event.price}}</p>
                        <p class="event-time">Time of the event: {{event.startTime}} - {{event.endTime}}</p>
                    </div>
                    
                </div>
            </div>
        </div>

        <!-- The right half of the screen -->
        <div class="column">
            <img
                class="fit-picture"
                src="https://i.pinimg.com/564x/d1/35/ca/d135ca708f1c3efcf9c890943dabff68.jpg"
                alt="Image of a map"
            />
        </div>
    </div>

</section>