<section class="main-body">
<!-- navigation bar-->
<app-navigation-bar></app-navigation-bar>
<!-- sidebar-->
<app-sidebar></app-sidebar>
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <form class = "form" [formGroup] = "postForm" (ngSubmit) = "onSubmit()">
            <!-- close button (exit the form)-->
            <button type="button" class="btn-close" aria-label="Close" (click)="onQuit()"></button>
            <p>{{currentDate | date:'shortDate'}}</p>
            <!-- post questions-->
            <section class = "questions">
                <div>
                    <label id = "postName" for = "Caption">Caption</label>
                    <input class="form-control" type = "text" formControlName = "Caption">
                </div>
                <div>
                    <label id = "location" for = "LocationName">Location</label>
                    <input class="form-control" type = "text" formControlName = "LocationName">
                </div>
                <div class="form-group">
                    <label id="description" for="Description">Description</label>
                    <textarea class="form-control" rows="5" id="comment" formControlName = "Description"></textarea>
                </div>
                <section class = "choose-tags-container">
                    <label id="chooseTags" for = "Tags">Choose Tags</label>
                    <ng-multiselect-dropdown id = "multi" [placeholder] = "'Select Tags'" [settings] = "dropdownSettings" [data] = "tagsArray" (onSelect) = "onSelectedTags($event)"></ng-multiselect-dropdown>
                </section>
            <!-- save button adds the modified post to the databse-->
            <button class = "btn btn-primary" type = "submit">Save</button>
        
    <div class="col-md-2">
        

</div>
</section>


