.col-md-8{
    margin-top: 150px;
    margin-left: 100px;
}
/* background styling for the page */
.main-body{
    background-image: linear-gradient(180deg, #A1B5D8, #C2D8B9);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: repeat;
    background-position: center;
}
.form-control{
    margin-bottom: 20px;
    border-radius: 50px;
    font-family: monospace, monaco;
    border: 3px solid var(--medium-blue);
    color: var(--darkest-green);
    font-size: 24px;
    font-weight: bold;
    width: 50%;
    margin-bottom: 30px;
}
/* label on top of the input field */
.form-label{
    font-family: monospace, monaco;
    color: var(--darkest-green);
    font-size: 24px;
    font-weight: bold;
}
#userTitle{
    font-size: 50px;
    font-family: monospace, monaco;
    font-weight: bold;
    color: var(--dark-blue);
    margin-bottom: 50px;
}
/* save button */
.btn-primary{
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    background-color: var(--light-blue);
    border-width: 1px solid var(--medium-blue);
    border-radius: 15px;
    color: black;
    font-family: monospace, monaco;
    font-size: 24px;
}
/* close button */
.btn-close{
    margin-bottom: 20px;
    margin-right: 50px;
}