<form [formGroup] = "userForm">
    <div>
        <label for = "userType">What type of account would you like to create?</label>
    </div>
    <div class = "chooseButtons">
        <label>
            <input type = "radio" formControlName = "userType" value = "User"/>User
        </label>
        <label>
            <input type = "radio" formControlName = "userType" value = "Organization"/>Organization
        </label>
    </div>

    <section class = "questions">
        <div formControlName = "username">
            <label for = "username">Username</label>
            <input type = "username" formControlName = "username">
        </div>
        <div formControlName = "password">
            <label for = "password">Password</label>
            <input type = "password" formControlName = "password">
        </div>
        <div formArrayName = "chooseTags">
            <label for = "chooseTags">Choose Tags</label>
            <ng-multiselect-dropdown [placeholder] = "'Select Tags'" [settings] = "dropdownSettings" [data] = "tagsArray" (onSelect) = "onSelectedTags($event)"></ng-multiselect-dropdown>
        </div>
        <section class = "name">
            <div formControlName = "firstName">
                <label for = "firstName">First name</label>
                <input type = "firstName" formControlName = "firstName">
            </div>
            <div formControlName = "middleName">
                <label for = "middleName">Middle name</label>
                <input type = "middleName" formControlName = "middleName">
            </div>
            <div formControlName = "lastName">
                <label for = "lastName">Last name</label>
                <input type = "lastName" formControlName = "lastName">
            </div>
        </section>
        <div *ngIf = "userForm.get('userType')?.value == 'Organization'">
            <label for = "organizationname">Organization Name</label>
            <input type = "organizationname" formControlName = "organizationName" required>
        </div>
        <div *ngIf = "userForm.get('userType')?.value == 'Organization'">
            <label for = "choosemembership">Choose Membership</label>
            <input type = "choosemembership" formControlName = "chooseMembership" required>
        </div>
        <div *ngIf = "userForm.get('userType')?.value == 'Organization'">
            <label for = "location">Location</label>
            <input type = "location" formControlName = "location" required>
        </div>
    </section>
</form>
