/* background styling for the whole page */
.main-body{
    background-image: linear-gradient(180deg, #A1B5D8, #C2D8B9);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: repeat;
    background-position: center;
}
/* multiselect dropdown */
:host ::ng-deep .multiselect-dropdown{
    width: 95%!important;
    margin-left: 50px;
    color: black;
}
.choose-tags-container {
    display: flex;
    align-items: center; 
    margin-bottom: 10px;
}

.col-md-2{
    background-color: green;
    color: turquoise;

}
.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 2%;
}

.fQuestion{
    color: black;
    font-family: monospace, monaco;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.questions{
    color: black;
    font-family: monospace, monaco;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.chooseButtons{
    color: black;
    font-family: monospace, monaco;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;

}

#userButton{
    margin-right: 20px;
}
/* login form questions */
#uName{
    margin-bottom: 20px;
    margin-right: 20px;
}
#username{
    border-radius: 20px;
    border: 3px solid var(--medium-blue);
}
#pword{
    margin-bottom: 20px;
    margin-right: 20px;
    
}
#password{
    border-radius: 20px;
    border: 3px solid var(--medium-blue);
}
#fName{
    margin-bottom: 20px;
    margin-right: 20px;
}
#firstName{
    border-radius: 20px;
    border: 3px solid var(--medium-blue);
}
#mName{
    margin-bottom: 20px;
    margin-right: 20px;
}
#middleName{
    border-radius: 20px;
    border: 3px solid var(--medium-blue);
}
#lName{
    margin-bottom: 20px;
    margin-right: 20px;
}
#lastName{
    border-radius: 20px;
    border: 3px solid var(--medium-blue);
}
#oName{
    margin-bottom: 20px;
    margin-right: 20px;
}
#organizationName{
    border-radius: 20px;
    border: 3px solid var(--medium-blue);
}
#cMem{
    margin-bottom: 20px;
    margin-right: 20px;
}
#chooseMembership{
    border-radius: 20px;
    border: 3px solid var(--medium-blue);
}
#l{
    margin-bottom: 20px;
    margin-right: 20px;
}
#location{
    border-radius: 20px;
    border: 3px solid var(--medium-blue);
}
/* submit button */
.btn-primary{
    margin-top: 20px;
    margin-left: 200px;
    align-items: center;
    justify-content: center;
    background-color: var(--light-blue);
    border-width: 1px solid var(--medium-blue);
    border-radius: 15px;
    color: black;
    font-family: monospace, monaco;
    font-size: 24px;
}
/* close button */
.btn-close{
    margin-bottom: 20px;
    margin-right: 50px;
}

