.user-post-page{
    margin-left: 300px;
    padding-top: 90px;
 }
/* background styling */
.main-body{
    background-image: linear-gradient(180deg, #A1B5D8, #C2D8B9);
    background-size: cover;
    width: 100vw;
    background-repeat: repeat;
    background-position: center;
}
.userTitle{
    font-size: xx-large;
    font-family: monospace, monaco;
    font-weight: bold;
    color: #E8FCCF;
}

.col-md-8{
    text-align: left;
    font-size: x-large;
    font-family: monospace, monaco;
    color: #E8FCCF;
}
.col ul{
    list-style: none;
}
/* post box and post details styling*/
.post-box > * {
    display: flex;
    border: 5px solid var(--dark-green);
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 38px;
    font-family: monospace, monaco;
    width: 50%;
    min-height: 500px;
    background-color: #182b3a;
    background-image: linear-gradient(315deg, #182b3a 0%, #20a4f3 74%);

}
.post-box {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;    
    border-radius: 35px;
    margin: 20px;
    box-sizing: border-box;
}
.post-details{
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 30px;
}
.custom-row{
    height: 0px;
}
.post-date-box{
    color: black;
    border-radius: 35px;
    background-color: #E8FCCF;
    padding: 10px;
    border: 2px solid #134611;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 15px;
}
.post-date{
    font-size: 25px;
    font-weight: bolder;
}
.post-date-box p{
    margin:0;
    padding: 1px;
}
.post-name{
    font-size: 50px;
    color: #E8FCCF;
    font-weight: bolder;
}
.post-desc{
    font-size: 25px;
    font-weight: bold;
    color: #E8FCCF;
    text-align: center;
}
.post-tags-box > *{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;

    color: var(--lightest-green);
    border-radius: 35px;
    background-color: var(--darkest-green);
    border: 2px solid var(--dark-green);
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: center;
    align-items: center;
}
/* The search bar */
#mySearch {
    width: 90%;
    font-size: 20px;
    font-weight: bold;
    padding: 11px;
    border: 3px solid var(--medium-blue);
    color: var(--darkest-green);
    margin:10px;
    border-radius: 50px;
    font-family: monospace, monaco;
    margin-left: 60px;
}
/* dropdown */
.form-select{
    width: 50%;
    margin-left: 60px;
    margin-bottom: 10px;
    border-radius: 50px;
    font-family: monospace, monaco;
    border: 3px solid var(--medium-blue);
    color: var(--darkest-green);
    font-size: 20px;
    font-weight: bold;
}

.buttons{

    margin-top: 10px;
    margin-bottom: 10px;
}
/* get post by me button */
.btn-success{
    margin-top: 10px;
    margin-left: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    color: black;
    font-family: monospace, monaco;
    font-size: 24px;
}
/* delete button */
.btn-danger{
    margin-right: 20px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    color: black;
    font-family: monospace, monaco;
    font-size: 24px;
}
/* modify button */
.btn-warning{
    margin-right: 20px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    color: black;
    font-family: monospace, monaco;
    font-size: 24px;
}