/* handles the navigation bar that is in all the pages */
#navbar{
    position: fixed;
    background-color: var(--darkest-green);
    background-repeat: no-repeat;
    background-position: center;
    background-size: "cover";
    background-attachment: fixed;
    width: 100%;
    border-bottom: 2px solid white;
    display: flex;
    list-style-type: none;
    z-index: 1000;
}
.btn-outline-success{
    --bs-btn-hover-bg: gray;
    --bs-btn-border-color: white;
    --bs-btn-active-bg: #687864
}
.navbar-brand{
    color: var(--lighter-green);
    font-size: xx-large;
    font-weight: bold;
    font-family: monospace, monaco;
}

.nav-link-active{
    color: var(--lighter-green);
    text-decoration: none;
    margin-left: 40px;
    font-size: 25px;
    font-family: monospace, monaco;
}

#home:hover{
    font-weight: bold; 
}
#events:hover{
    font-weight: bold; 
}
#friends:hover{
    font-weight: bold; 
}

#btn{
    font-size: x-large;
    font-family: monospace, monaco;
    color: var(--lighter-green);
}