<div id="main-body" class="main-body">
  <app-navigation-bar> </app-navigation-bar><!--This basically says "include the navigation bar in this component". Refer to the .ts file as well from here.-->

  <div class="container-fluid">
    <!--ROW 1 START-->
    <div class="row" *ngFor="let user of current_user">
      <!--ROW 1 START-->
      <div class="col-md-2">

      </div>
      <div class="col-md-8">
        <div>
          <h1 id = "userTitle">
            User Profile
          </h1>
            <div><button (click)="onEventCreate()" type="submit" class="btn btn-success">Create post</button></div>
            <div></div>
              <a href = "/eventform">
              <button type="button" class="btn btn-outline-success">Create event</button>
              </a>
            </div>

          <p>
            <ul>
                <li>
                    User Profile Information to be inserted here
                </li>
                <li>
                    Profile details to be inserted here
                </li>
                <li>
                  Think of this as one single post. Will work on divving this up into a dynamic thing in time.
                </li>
            </ul>




        </div>
      </div>
      <div class="col-md-2">


      </div>
      <!--ROW 1 END-->
    </div>
    <!--ROW 1 END-->
    <!--ROW 2 START-->
    <div class="row" *ngFor="let post of posts">
      <div class="col-md-2">

      </div>
      <div class="col">
        <ul>
            <li>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQciZUXDEUgpAVtexBM1iA6rMAaqnebXAQL5NUK9bgWK8Wig1CGGaAFvXCV3fIImzbON1Y&usqp=CAU"
                    alt="I studied software Engineering at Penn State Behrend's School of Engineering"
                    title="I studied software Engineering at Penn State Behrend's School of Engineering" width="100%"/>
            </li>
        </ul>
        
      </div>
      <div class="col-md-2">

    </div>
    <!--ROW 2 END-->
</div>


