<section class="main-body">
  <app-navigation-bar> </app-navigation-bar><!--This basically says "include the navigation bar in this component". Refer to the .ts file as well from here.-->
  <app-sidebar></app-sidebar>
  
  <div class="user-screen-part">
    <!--ROW 1 START-->
    <div class="row" >
      <!--ROW 1 START-->
      <div class="col-md-2">

      </div>
      <div class="col-md-8">
        <div>
          <h1 id = "userTitle">
            Welcome, {{USEROBJ.username}}!
          </h1>
            <ul class="list">
                <li *ngIf = "USEROBJ.userType === 'User'">
                    First Name: {{USEROBJ.firstName}}
                </li>
                <li *ngIf = "USEROBJ.userType === 'User'">
                    Middle name: {{USEROBJ.middleName}}
                </li>
                <li *ngIf = "USEROBJ.userType === 'User'">
                    Last Name: {{USEROBJ.lastName}}
                </li>
                <li *ngIf = "USEROBJ.userType === 'Organization'">
                  Organization Name: {{USEROBJ.organizationName}}
                </li>
                <li *ngIf = "USEROBJ.userType === 'Organization'">
                  Membership: {{USEROBJ.chooseMembership}}
                </li>
                <li *ngIf = "USEROBJ.userType === 'Organization'">
                  Location: {{USEROBJ.location}}
                </li>                                
                <li>
                  Tags:
                  <ul>
                    <li *ngFor="let tag of USEROBJ.chooseTags">{{tag}}</li>
                  </ul>
              </li>
            </ul>
          
          <div>
            <a role="button" href="/modifyprofile" class="btn btn-warning">
              Modify profile
            </a>
            <a role="button" href="/login" class="btn btn-primary">
              Logout
            </a>
            <a role="button" (click)="onDeleteClick()" class="btn btn-warning">
              Deleteuser
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

            <!-- Dropdown bar to select tag to search by -->
            <!-- <div>
              <select #tags (change)="onSearchTag(tags.value)" class="form-select" aria-label="Default select example">
                <option selected value="All">All</option>
                <option value="Art">Art</option>
                <option value="Museum">Museum</option>
                <option value="Coffee">Coffee</option>
                <option value="History">History</option>
              </select>
            </div> -->

            <!-- Serach bar for posts (search by location) -->
            <!-- <div>
              <input #searchbar type="text" id="mySearch" (keyup.enter)="onSearchLocation(searchbar.value)" placeholder="Search posts by loction" title="Type in a category">
            </div> -->
            <!-- Button to get posts by user -->
            <!-- <div>
              <a role="button" (click)="onSearchUser()" class="btn btn-success">
                Get posts by me
              </a>
            </div>


          <p>
            <ul>
                <li>
                    User Profile Information to be inserted here
                </li>
                <li>
                    Profile details to be inserted here
                </li>
                <li>
                  Think of this as one single post. Will work on divving this up into a dynamic thing in time.
                </li>
            </ul>




        </div>
      </div>
      <div class="col-md-2">


      </div> -->
      <!--ROW 1 END-->
    <!-- </div> -->
    <!--ROW 1 END-->
    <!--ROW 2 START-->
    <!-- <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col"> -->
          <!-- Make event box for every event in the list -->
        <!-- <div class="post-box" *ngFor="let post of posts">
          <div class="post"> -->
            <!-- Delete Button-->
            <!-- <button type="button" class="btn-close" aria-label="Close" (click)="onDeletePost(post._id)"></button> -->
            <!-- Date in the date box -->
            <!-- <div class="post-date-box">
                <p class="post-day">{{post.Date | date: 'd'}}</p>
                <p class="post-month">{{post.Date | date: 'MMMM'}}</p>
                <p class="post-year">{{post.Date | date: 'yyyy'}}</p>
            </div> -->

            <!-- Post details in the post details section-->
            <!-- <div class="post-details">
                <p class="post-name">{{post.Caption | uppercase}}</p>
                <p class="post-desc">Location: {{post.LocationName}}</p>
                <p class="post-desc">{{post.Description}}</p>
            </div>
            <div class="post-tags-box" *ngFor="let tag of post.Tags">
              {{tag}}
            </div>
            <button type="button" class="btn-close" aria-label="Open" (click)="onEditPost(post._id)"></button>
          </div>
        </div>
        
      </div>
      <div class="col-md-2">

    </div> -->
    <!--ROW 2 END-->
<!-- </div> -->


